<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CF Codearena</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
    <body>
        <%- include('./partials/messages.ejs') %> 
        <div id = "room-container">
            <% if(rooms.length!=0){ %> 
                <h3> Current Open Rooms </h3>
            <% } %> 
            <% rooms.forEach( room =>{ %>
                <div>
                    <%= room %>
                </div>
                <form action="/rooms/<%=room%>" method="POST">
                    <input type="password" name="password"  required>
                    <div class="buttons">
                    <button type="submit"> Submit </button>
                    </div>
                </form>
                
            <%})%>
        </div>
        <form action="/rooms" method="POST">
            <input type="text" name="room"  required>
            <input type="password" name="password"  required>
            <div class="buttons">
            <button type="submit"> Create New Room </button>
            </div>
        </form>

        <script>
            const user = "<%=user%>";
        </script>
       
    <script src="http://localhost:5000/socket.io/socket.io.js"> </script>
    <script src="../script.js"></script>
    <style>
        body {
        font-family: 'Nunito';
        background-color: #dfdfdf;
        }

        .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: red 1px solid; */
        }
    </style>

    </body>
    
</html>