<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem</title>
</head>
<body>
    
    <div id = "output">
    </div>

    <div id="prob-link">
    </div>

    <div id = "feedback">
    </div>
    
    <div class = "container">
        <aside id="user1-logs">
            <div style="display:flex;justify-content:center;align-items:center;">
                <h2><strong class = "user-logs-title">user1-logs</strong></h2>
            </div>
            <div class="user-logs-window">
                
            </div>
        
        </aside>
    
        <div>
            <div id="timer">
            </div>
            <br>
            <div class="buttons">
              
            </div>
          </div>

        <aside id="user2-logs">
            <div style="display:flex;justify-content:center;align-items:center;">
                <h2><strong class = "user-logs-title">user2-logs</strong></h2>
            </div>
            
            <div class="user-logs-window">
                
            </div>
        
        </aside>
    </div>


    <script>
        const username = "<%= user%>";
        const roomName = "<%= roomName%>"
    </script>
    <script src="http://localhost:5000/socket.io/socket.io.js"> </script>
    <script src="../../problemPageScript.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
    <style>
        body {
        font-family: 'Nunito';
        background-color: #dfdfdf;
        }

        .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: red 1px solid; */
        }

        a{
        font-size: 30px;
        }

        a:visited{
        color: purple;
        }

        #output,
        #timer,
        #prob-link,
        #feedback {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        /* border: red 2px solid; */
        width: auto;
        }

        .container {
        display: flex;
        justify-content: center;
        align-items: center;
        }

        aside, #timer{
            padding: 20px;
            margin: 10px;
        }

        #user1-logs {
        float: left;
        width: 35%;
        border: 1px solid black;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        }

        .user-logs-window {
        height: 70vh;
        overflow: auto;
        background: #f9f9f9;
        }

        #user2-logs {
        float: right;
        width: 35%;
        border: 1px solid black;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        }

        .user-gray {
        display: inline;
        color: gray;
        font-size: 30px;
        }

        .user-green {
        display: inline;
        color: green;
        font-size: 30px;
        }

        .user-cyan {
        color: cyan;
        font-size: 30px;
        }

        .user-blue {
        display: inline;
        color: blue;
        font-size: 30px;
        }

        .user-violet {
        display: inline;
        color: violet;
        font-size: 30px;
        }

        .user-orange {
        display: inline;
        color: orange;
        font-size: 30px;
        }

        .user-red {
        display: inline;
        color: red;
        font-size: 30px;
        }

        .user-legendry {
        display: inline;
        color: red;
        font-size: 30px;
        }

    </style>
</body>
</html>