<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Handle</title>
</head>
<body>
    <form method="post" action="/">
        <label for="user">ENTER YOUR CODEFORCES HANDLE: </label>
        <input type="text" id="user" name="user" required><br>
        <button type="submit" class="problem" >SUBMIT</button>
    </form>
    <script src="../userScript.js">
    </script>
</body>
</html>