<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CF Codearena</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include('./partials/messages.ejs') %> 
    <div class="container">
        <h1 class="heading">
            Welcome to CF-Codearena
        </h1><br><br>
        <form method="post" action="/">
            <div class="mb-3">
                <label for="user" style="font-size:20px" class="form-label">Enter your Codeforces Handle </label>
                <input type="text" id="user" class="form-control" placeholder="Enter CF-Handle"name="user" required><br>
            </div>
            <div class="buttons">
                <button type="submit" class="problem btn btn-dark">SUBMIT</button>
            </div>
        </form>
        <hr>
        <h3>About</h3>
        <div class="about" style="font-size: 19px">
            <ol><li>To use CF-Codearena, you will need to login to Codeforces and then enter with your Codeforces handle.</li>
            <li>After logging in, you will need to create a new room and then share the room password with your peer with whom you want to compete.</li>
            <li>A Codeforces problem link will be given according to both users' ratings and previously not solved by any users. After submitting the solution on Codeforces, press the submit button on Codearena.</li></ol>
            <b>Note- <ul><li>It may not work properly if you try to enter using other's CF-handle.</li>
                    <li>If any of the users' in the room disconnects, the room will be closed, and you will need to start again.</li>
                    <li>Don't refresh the page after the problem link is given.</li></ul></b>
            <a target="_blank" href="https://github.com/Harsh-Modi278/CF-Codearena/tree/main">GitHub Repository</a>
        </div>
    </div>
    
    
    <script src="../userScript.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>    
    <style>
      
        

        body {
        font-family: 'Nunito';
        background-color: #dfdfdf;
        }
        .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: red 1px solid; */
        }
        .heading {
            text-align: center;
            font-size: 50px;
        }
    </style>
</body>
</html>